<div id="body">
<section id="content">
   <div class="post">
      <h2 class="title">
         <a href="#">Welcome to SMART PORTABLES </a>
      </h2>
      <br>
      <div class="entry">
         <img src="Images/smartportable.jpg"
            style="width: 100%; height: 500px; display: block; margin-left: auto; margin-right: auto" />
         <br> <br>
         <h2>The world trusts us to deliver SPEEDY service for Smart Devices</h2>
         <br> <br>
         <h1>
         We beat our competitors in all aspects. Price-Match Guaranteed</h2>
      </div>
   </div>
   <article>
      <br>
      <br>
      <h5>Best Sellers</h5>
   </article>
   <article class="expanded">
      <table style="width:100%" style="height:100%" border="1" bordercolor="#aaa" cellspacing="0" cellpadding="0">
         <tr>
            <td width="30%">
               <a href="#"><img  style="display:block;"  src="Images/AppleMacPro.jpg" /></a>
            </td>
            <td width="40%">
               <table>
                  <tr>
                     <td width="40"><b>Apple MacBook Pro(13 inch) </b></td>
                  </tr>
                  <tr>
                     <td width="40"><b>Color:</b> Black</td>
                  </tr>
                  <tr>
                     <td><b>Condition:</b> New</td>
                  </tr>
                  <tr>
                     <td><b>Price: $1699.00</b></td>
                  </tr>
                  <tr>
                     <table style="border: 0px;">
                        <tr>
                           
                           <td><a href="#" class="btn btn-primary">Reviews</a></td>
                           
                            
                           <td><a href="CartServlet?productId=41&amp;type=laptop" class="btn btn-primary">Add to Cart</a></td>
                           
                        </tr>
                     </table>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </article>
</section>