<aside class="sidebar">
        <ul>
	        	
				
               <li>
				<div>
				  <div class="panel-group">
					<div class="panel-heading">
						<h4 class="panel-title">
						  <a href="TrendingServlet">Trending</a>
						</h4>
					</div>
				  </div>
				  <div class="panel-group">
					<div>
					  <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" href="#collapse1">Wearable Technology</a>
						</h4>
					  </div>
					  <div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body">
							<div>
							  <div class="panel-group">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" href="#collapse2">Fitness Watches</a>
									</h4>
								  </div>
								  <div id="collapse2" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Apple">Apple</a></li>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Fitbit">Fitbit</a></li>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Polar">Polar</a></li>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Samsung">Samsung</a></li>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Garmin">Garmin</a></li>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Nokia">Nokia</a></li>
											<li><a href="ProductDisplayServlet?type=fitness watch&brandName=Emporio Armani">Emporio Armani</a></li>
										</ul>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div>
							  <div class="panel-group">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" href="#collapse3">Smart Watches</a>
									</h4>
								  </div>
								  <div id="collapse3" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="ProductDisplayServlet?type=smartwatch&brandName=Apple">Apple</a></li>
											<li><a href="ProductDisplayServlet?type=smartwatch&brandName=Samsung">Samsung</a></li>
											<li><a href="ProductDisplayServlet?type=smartwatch&brandName=Motorola">Motorola</a></li>
											<li><a href="ProductDisplayServlet?type=smartwatch&brandName=LG">LG</a></li>
											<li><a href="ProductDisplayServlet?type=smartwatch&brandName=Asus">Asus</a></li>
											
										</ul>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div>
							  <div class="panel-group">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" href="#collapse4">Headphones</a>
									</h4>
								  </div>
								  <div id="collapse4" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="ProductDisplayServlet?type=headphone&brandName=Bose">Bose</a></li>
											<li><a href="ProductDisplayServlet?type=headphone&brandName=Sony">Sony</a></li>
											<li><a href="ProductDisplayServlet?type=headphone&brandName=Sennheiser">Sennheiser</a></li>
										</ul>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div>
							  <div class="panel-group">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" href="#collapse5">Virtual Reality</a>
									</h4>
								  </div>
								  <div id="collapse5" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=HTC">HTC</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Oculus">Oculus</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Pansonite">Pansonite</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Samsung">Samsung</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Canbor">Canbor</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Sony">Sony</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Google">Google</a></li>
											<li><a href="ProductDisplayServlet?type=virtual reality&brandName=Noon">Noon</a></li>
										</ul>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div>
							  <div class="panel-group">
								<div class="panel panel-default">
								  <div class="panel-heading">
									<h4 class="panel-title">
									  <a data-toggle="collapse" href="#collapse6">Pet Tracker</a>
									</h4>
								  </div>
								  <div id="collapse6" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=Tractive">Tractive</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=Tractive">Whistle</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=Link AKC">Link AKC</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=Findster">Findster</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=Dott">Dott</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=Tuokiy">Tuokiy</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=PETBLE">PETBLE</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=DAGPS">DAGPS</a></li>
											<li><a href="ProductDisplayServlet?type=pet tracker&brandName=PA88">PA88</a></li>
										</ul>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						</div>
						
					  </div>
					</div>
				  </div>
				  <div class="panel-group">
					<div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" href="#collapse7">Phones</a>
						</h4>
					</div>
					<div id="collapse7" class="panel-collapse collapse">
					  <div class="panel-body">
						<ul>
							<li><a href="ProductDisplayServlet?type=phone&brandName=Apple">Apple</a></li>
							<li><a href="ProductDisplayServlet?type=phone&brandName=Samsung">Samsung</a></li>
							<li><a href="ProductDisplayServlet?type=phone&brandName=Google">Google</a></li>
							<li><a href="ProductDisplayServlet?type=phone&brandName=LG">LG</a></li>
						</ul>
					  </div>
					</div>
				  </div>
				  <div class="panel-group">
					<div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" href="#collapse8">Laptops</a>
						</h4>
					</div>
					<div id="collapse8" class="panel-collapse collapse">
					  <div class="panel-body">
						<ul>
							<li><a href="ProductDisplayServlet?type=laptop&brandName=Apple">Apple</a></li>
							<li><a href="ProductDisplayServlet?type=laptop&brandName=Dell">Dell</a></li>
							<li><a href="ProductDisplayServlet?type=laptop&brandName=HP">HP</a></li>
							<li><a href="ProductDisplayServlet?type=laptop&brandName=Lenovo">Lenovo</a></li>
							<li><a href="ProductDisplayServlet?type=laptop&brandName=Asus">Asus</a></li>
						</ul>
					  </div>
					</div>
				  </div>
				  <div class="panel-group">
					<div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" href="#collapse9">Voice Assistant Speakers</a>
						</h4>
					</div>
					<div id="collapse9" class="panel-collapse collapse">
					  <div class="panel-body">
						<ul>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Sonos">Sonos</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=JBL">JBL</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Lenovo">Lenovo</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Amazon">Amazon</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Sonos">Sonos</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Google">Google</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Ultimate Ears">Ultimate Ears</a></li>
							<li><a href="ProductDisplayServlet?type=speaker&brandName=Polk Audio">Polk Audio</a></li>
						</ul>
					  </div>
					</div>
				  </div>
				  <div class="panel-group">
					<div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" href="#collapse10">Accessories</a>
						</h4>
					</div>
					<div id="collapse10" class="panel-collapse collapse">
					  <div class="panel-body">
						<ul>
							<li><a href="DisplayAccessoriesServlet?acctype=Apple">Apple</a></li>
							<li><a href="DisplayAccessoriesServlet?acctype=Samsung">Samsung</a></li>
							<li><a href="DisplayAccessoriesServlet?acctype=Sonos">Sonos</a></li>
						</ul>
					  </div>
					</div>
				  </div>
				</div>
			   </li>
			   
			   
				
                
				
                
            </ul>
		
    </aside>
	
<div class="clear"></div>
		
	