@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
	background: #E6E7E9;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #888;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
tr .hide_left > td, td.hide_left{
        border-left-style:hidden;
		border-bottom-style:hidden;
		border-right: 2px solid black;
      }
	  

        border-bottom-style:hidden;
      }
.nav ul {height: 70px;
	
   background: #4076AB;/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
.nav ul li {
	
    padding: 0; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
}
.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color: #4076AB;
    text-decoration: underline;
}
.nav li:hover ul a { 
    text-decoration: none;
}
.nav li:hover ul li a:hover { 
    background-color: #4076AB;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 300px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.smp-crsl{
	margin: 20px;
}

.button {
  display: inline-block;
  padding: 9px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4076AB;
  border: none;
  border-radius: 9px;
  box-shadow: 0 9px #999;
}



.button:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #799AC0 none repeat-x scroll left top;
}

thead{
	color: #fff;
	background: #799AC0 none repeat-x scroll left top;
}

td {
    
	border-bottom: 1px solid #ccc;
    
    text-align:left; 
    vertical-align:left;
	
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	/*margin-bottom: 20px;*/
}

a {
	color: #799AC0;
}

a:hover {
	color: white;
}

a:focus {
	outline: none;
}


a .button { 
    background-color: #799AC0;
    border-radius: 13%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

a .button:hover {
	background-color: #4076AB;
}


fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input .formbutton {
	border: none;
	background: #DE2D3A;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form .searchform input {
  font-size: 15px;
    padding: 6px;
}

form .searchform p {
	margin: 17px,5;
}


span .required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h3 {
	color: #DE2D3A;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h4 {
    font-family: 'Pontano Sans', Arial, sans-serif;
    color: #799AC0;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0 5px 5px 5px #CCCCCC;
	background-color: #fff;
}

header {
	padding: 35px 0;
	background: #fff;
	margin: 0 auto;
	text-align:center;
}

header h1 a {
 color: #DE2D3A;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span { 
	color: #DE2D3A;
}

header h2 {
	color: #E6E7E9;
	font-size: 13px;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}

nav {
	height: auto;
	background-color: #4076AB;
}

nav ul {
	height: auto;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
	
}


nav ul li a {
    color: #eee;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    margin: 0;
    padding: 21px 15px 23px;
    text-decoration: none;
    text-transform: uppercase;
	border-right:1px solid #668CB7;
}
nav ul li .selected a,
nav ul li .selected a:hover { 
	background-color: #4076AB;
	color: #fff; 
	font-weight:bold;
}


nav ul li a:hover {
	color: #fff;
	background-color: #4076AB;
	text-decoration: none;
}

img.header-image { padding-top: 0px;
			margin-bottom: -3px; 
			height:170px;
			width:160px;
			border:2px;
			border-color:grey;}

#body {
	background: none;
	margin:0 auto;
 	padding: 0;
	clear: both;
}

#content {
    float: right;
    width: 71%;
}

article {
    border-bottom: 2px solid #ddd;
    padding: 10px 10px 20px 10px;
 }

article h2 { 
    padding-bottom: 0;
}

article .article-info {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}

.sidebar {
    float: left;
    width: 28%;
	margin-top: 10px;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	padding: 7px 7px;
	border-bottom: 1px solid #4076AB;
  	background-color: #4076AB;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	background-color: #E6E7E9;
	/* margin-bottom: 20px; */
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}

.sidebar li ul li.text { 
	border-bottom: none;
}



.sidebar li ul li a {
	font-weight: normal;
}

.sidebar li ul li a:hover {
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}




.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 960px;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
	font-weight: bold;
}

.footer-content {
	padding: 20px 25px 30px;
	background: #ddd;
	border-top: 10px solid #DB2C39;
}

footer .footer-content ul {
	width: 260px;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	border-bottom: 1px dashed #ccc;
	padding: 10px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}

footer .footer-content li a {
 color: #666666;
    font-size: 13px;
    text-decoration: underline;
}

footer .footer-content li a:hover { 
	color: #222;
}

footer .footer-content h4 {
   color: #666666;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #4076AB;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee;
	
}

#cart{
	float:right;
	background-color: transparent;
	
}

#cart a{
	color: black;
}